In [1]:
import pandas as pd
df = pd.read_csv("car-sales-data.csv")
df.head()

     Make Colour  Odometer  Doors    Price
0  Toyota  White  150043.0    4.0   $4,000
1   Honda    Red   87899.0    4.0   $5,000
2  Toyota   Blue       NaN    3.0   $7,000
3     BMW  Black   11179.0    5.0  $22,000
4  Nissan  White  213095.0    4.0   $3,500

In [7]:
df['Price'] = df['Price'].replace({'$': '', ',': ''}, regex=True).astype(float)
highest_price_car = df.loc[df['Price'].idxmax()]
print(highest_price_car)

Make            BMW
Colour        Black
Odometer    11179.0
Doors           5.0
Price       22000.0
Name: 3, dtype: object

In [15]:
df['Odometer'] = df['Odometer'].replace({',': ''}, regex=True).astype(float)
df['Price_per_km'] = df['Price'] / df['Odometer']
min_price_per_km = df.loc[df['Price_per_km'].idxmin()]
print("Xe rẻ nhất theo giá/km:", min_price_per_km)

Xe rẻ nhất theo giá/km: Make              Nissan
Colour             White
Odometer        213095.0
Doors                4.0
Price             3500.0
Price_per_km    0.016425
Name: 4, dtype: object

In [19]:
avg_price_by_make = df.groupby('Make')['Price'].mean().sort_values(ascending=False)
print("Giá trung bình theo hãng:", avg_price_by_make)
print("Hãng có giá trung bình cao nhất:", avg_price_by_make.idxmax())

Giá trung bình theo hãng: Make
BMW       22000.000000
Honda      6250.000000
Toyota     5166.666667
Nissan     3500.000000
Name: Price, dtype: float64
Hãng có giá trung bình cao nhất: BMW