In [1]:
# data
products = {
    "tên": ["Áo thun", "Quần jean", "Giày sneaker", "Balo laptop", "Mũ lưỡi trai"],
    "giá bán": [150000, 350000, 1200000, 500000, 100000],
    "ngày tạo": ["2025-09-01", "2025-09-05", "2025-09-10", "2025-09-15", "2025-09-20"],
    "category": ["Thời trang", "Thời trang", "Phụ kiện", "Phụ kiện", "Thời trang"]
}
products

{'tên': ['Áo thun',
  'Quần jean',
  'Giày sneaker',
  'Balo laptop',
  'Mũ lưỡi trai'],
 'giá bán': [150000, 350000, 1200000, 500000, 100000],
 'ngày tạo': ['2025-09-01',
  '2025-09-05',
  '2025-09-10',
  '2025-09-15',
  '2025-09-20'],
 'category': ['Thời trang',
  'Thời trang',
  'Phụ kiện',
  'Phụ kiện',
  'Thời trang']}

## Tạo csv với pandas
- Chuyển dữ liệu dict -> dataframe
- Dùng hàm to_csv()

In [2]:
import pandas as pd

df = pd.DataFrame(products)
df.to_csv("products.csv", index=True)

## Đọc csv với pandas
- Khi trả về -> dataframe
- Dùng các hàm hỗ trợ để in thông tin của bảng dữ liệu
    - info
    - describe
    - shape + dtypes {bien}
    - head() + tail()

In [3]:
try:
    df_from_csv = pd.read_csv("products.csv")
    print(df_from_csv)
    print("Info: ----------------------")
    print(df_from_csv.info())
    print("Describe: ----------------------")
    print(df_from_csv.describe())
    print("Shape: ----------------------")
    print(df_from_csv.shape)
    print("dtypes: ----------------------")
    print(df_from_csv.dtypes)
    print("head: ----------------------")
    print(df_from_csv.head(1))
    print("tail: ----------------------")
    print(df_from_csv.tail(2))
except Exception as e:
    print("Loi:", e)

   Unnamed: 0           tên  giá bán    ngày tạo    category
0           0       Áo thun   150000  2025-09-01  Thời trang
1           1     Quần jean   350000  2025-09-05  Thời trang
2           2  Giày sneaker  1200000  2025-09-10    Phụ kiện
3           3   Balo laptop   500000  2025-09-15    Phụ kiện
4           4  Mũ lưỡi trai   100000  2025-09-20  Thời trang
Info: ----------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5 non-null      int64
 1   tên         5 non-null      object
 2   giá bán     5 non-null      int64
 3   ngày tạo    5 non-null      object
 4   category    5 non-null      object
dtypes: int64(2), object(3)
memory usage: 332.0+ bytes
None
Describe: ----------------------
       Unnamed: 0       giá bán
count    5.000000  5.000000e+00
mean     2.000000  4.600000e+05
std      1.581139  4.435651e+05
min      0.000000  1.000000e+05
25%      1.000000  1.500000e+05
50%      2.000000  3.500000e+05
75%      3.000000  5.000000e+05
max      4.000000  1.200000e+06
Shape: ----------------------
(5, 5)
dtypes: ----------------------
Unnamed: 0     int64
tên           object
giá bán        int64
ngày tạo      object
category      object
dtype: object
head: ----------------------
   Unnamed: 0      tên  giá bán    ngày tạo    category
0           0  Áo thun   150000  2025-09-01  Thời trang
tail: ----------------------
   Unnamed: 0           tên  giá bán    ngày tạo    category
3           3   Balo laptop   500000  2025-09-15    Phụ kiện
4           4  Mũ lưỡi trai   100000  2025-09-20  Thời trang

# Lọc dữ liệu

## Lọc cột
- `<ten_dataframe>['<ten cot>']`

In [10]:
new_data = df_from_csv[["tên", "category"]]
new_data[df_from_csv["giá bán"] > 100000]

            tên    category
0       Áo thun  Thời trang
1     Quần jean  Thời trang
2  Giày sneaker    Phụ kiện
3   Balo laptop    Phụ kiện

## Lọc hàng
- `slice [start: stop: step]`
- Bỏ start: 0
- Bỏ stop: length - 1 (Lấy tới cuối cùng)
- Bỏ step: 1

In [12]:
# lọc 2 hàng đầu
df_from_csv[:2]

   Unnamed: 0        tên  giá bán    ngày tạo    category
0           0    Áo thun   150000  2025-09-01  Thời trang
1           1  Quần jean   350000  2025-09-05  Thời trang

In [14]:
df_from_csv[1::2]

   Unnamed: 0          tên  giá bán    ngày tạo    category
1           1    Quần jean   350000  2025-09-05  Thời trang
3           3  Balo laptop   500000  2025-09-15    Phụ kiện