In [1]:
import pandas as pd
df = pd.read_csv("products.csv")
df.tail(2)

   Unnamed: 0           tên  giá bán    ngày tạo    category
3           3   Balo laptop   500000  2025-09-15    Phụ kiện
4           4  Mũ lưỡi trai   100000  2025-09-20  Thời trang

# Lọc bằng chỉ số (iloc)

`iloc` lọc dữ liệu dựa trên vị trí chỉ số trong DataFrame

In [5]:
df.iloc[:3] #Lấy 3 dòng đầu tiên

   Unnamed: 0           tên  giá bán    ngày tạo    category
0           0       Áo thun   150000  2025-09-01  Thời trang
1           1     Quần jean   350000  2025-09-05  Thời trang
2           2  Giày sneaker  1200000  2025-09-10    Phụ kiện

In [ ]:
df.iloc[2::2, 2:] #Lấy dòng 2->5 (bước nhảy 2), cột 2 -> cuối

   giá bán    ngày tạo    category
2  1200000  2025-09-10    Phụ kiện
4   100000  2025-09-20  Thời trang

# Lọc bằng nhãn (loc)

`loc` lọc dữ liệu dựa trên nhãn của chỉ số trong DataFrame

In [ ]:
df.loc[3: ,["giá bán", "category"]] # lấy từ dòng 3 -> cuối, cột giá bán + category

   giá bán    category
3   500000    Phụ kiện
4   100000  Thời trang

In [ ]:
#lọc có điều kiện
df.loc[df["giá bán"] > 250000, "tên": "ngày tạo"] #lấy dòng nào có giá bán > 250k, cột 0 -> ngày tạo

            tên  giá bán    ngày tạo
1     Quần jean   350000  2025-09-05
2  Giày sneaker  1200000  2025-09-10
3   Balo laptop   500000  2025-09-15