In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [3]:
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

In [4]:
bank_accounts = pd.Series([2514, 45830, 100000, 0, 5000, 300], name="Bank Accounts")
bank_accounts.describe()

count         6.000000
mean      25607.333333
std       40490.458069
min           0.000000
25%         853.500000
50%        3757.000000
75%       35622.500000
max      100000.000000
Name: Bank Accounts, dtype: float64